<header id="home">
  <%= image_tag("banner.jpeg", alt: "Header", class: "banner") %>
  <div class="header-content">
    <p>Precision welding services for all your <br /> industrial needs</p>
    <h1>Expert <br /> Welding <br /> Solutions</h1>
    <div class="row">
      <%= button_to "Get A Quote", "#contact", class: "btn", style: "cursor: pointer;" %>
    </div>
  </div>
</header>



<section id="services">
  <div class="container services">
    <h2 class="main-title text-center">SERVICES</h2>
  <div class="cards">
    <div class="card-category">
      <%= image_tag("crotched welding.jpeg", alt: "welder", class: "welder") %>
      <div class="card-text">
        <h1>Our Expertise <i class="fa-solid fa-certificate"></i> </h1>
        <p>
            Our team of certified welders have years of experience and can handle
            any welding project, big or small. We are dedicated to providing high-
            quality workmanship and exceptional customer service.
        </p>
      </div>
    </div>

    <div class="card-category">
      <div class="card-text">
        <h1>Our Services <i class="fa-solid fa-gears"></i></h1>
        <p>
          We offer a wide range of welding services including MIG, TIG, and Stick
          welding. We specialize in custom fabrication and can create anything from
          ornamental ironwork to structural steel. We also offer mobile welding
        </p>
      </div>
      <%= image_tag("welding.jpeg", alt: "welder", class: "welder") %>
    </div>

    <div class="card-category" >
      <%= image_tag("welding equipment.jpeg", alt: "welder", class: "welder") %>
      <div class="card-text">
        <h1>Our Equipment <i class="fa-solid fa-screwdriver-wrench"></i></h1>
        <p>
          We use state-of-the-art welding equipment to ensure precise and efficient
          welding. Our equipment is regularly maintained to ensure maximum
          performance and safety.
        </p>
      </div>
    </div>
  </div>

  </div>
</section>

<section id="contact">
  <%= render "shared/form" %>
</section>
